/* IMPORTS FONTS */
// Apple Color Emoji : emoji
/*@font-face {
  font-family: "Apple Color Emoji";
  src: url("/public/fonts/AppleColorEmoji.ttf") format("ttf");
}*/

// SF Pro
@font-face {
  font-family: "SF Pro";
  src: url("/public/fonts/SF-Pro.ttf") format("ttf");
}

:root {
  --font-family-main: "SF Pro", sans-serif;

  --font-size-XXL: 36px;
  --font-size-XL: 30px;
  --font-size-L: 20px;
  --font-size-M: 16px;
  --font-size-S: 14px;
  --font-size-XS: 12px;

  --font-weight-semibold: 600;
  --font-weight-bold: bold;
  --border-radius : 21.67px;


}
