.l-article {
  font-family: var(--font-family-main);
  font-size: var(--font-size-M);
  // GLOBAL
  &__a-sizeSection {
    //background-color: var(--background-color);
    margin-left: 79px;
    margin-right: 79px;
    margin-bottom: 40px;
    @include large {
      margin-left: 152px;
      margin-right: 152px;
    }
  }
  // CATEGORIES
  &__o-categories {
    margin-top: 76px;
  }

  &__m-tagsDiv {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 16px;
  }

  &__m-tags{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 0;
    font-size: var(--font-size-S);
    margin-bottom: 24px;
  }


  // MAIN
  &__a-datetime {
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: var(--font-size-S);
  }
}