$width: 75%;

.l-article {
  margin-top: 30px !important;
  //margin-right: 24px;

  @include large {
    margin: 0 auto;
    width: $width;
  }
  &__m-tagsDiv {
    display: flex;
    @include large {
      margin: 0 auto;
      width: $width;
    }
    margin-bottom: 16px !important;
  }

  &__m-tags {
    margin-right: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--font-family-main);
  }

  &__a-title, &__a-description {
    margin-bottom: 16px !important;
    margin-right: 16px;
    @include large {
      display: block;
      margin: 0 auto;
      width: $width;
    }
  }

  &__m-meta {
    display: flex;
    align-items: center;
    margin-top: 16px;
    & > * {
      margin-right: 10px;
      font-family: var(--font-family-main);
    }
    margin-bottom: 24px !important;
    @include large {
      //display: block;
      margin: 0 auto;
      width: $width;
    }
  }

  &__a-datetime {
    color: var(--text-color);
    font-style: italic;
    font-size: var(--font-size-XS);
    &--span {
      font-weight: 500;
      font-style: normal;
    }
  }
  &__m-mainImageDiv {
    //margin-right: 24px;
    margin-bottom: 16px;
    width: 100%;
    @include large {
      display: block;
      text-align: center;
    }
  }
   &__m-mainImage {
    @include large {
      border-radius: 10px;
      width: $width !important;
      //margin: 0 auto;
    }
  }
  &__m-content {
    margin-right: 16px;
    @include large {
      margin: 0 auto;
      width: $width;
    }
  }
}