.l-blog {
  &__a-status {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    color: var(--accent-blue);
    margin-top: 100px;
  }

  &__a-title {
    text-align: center;
    margin-bottom: 24px;
  }

  &__m-categories {
    width: 100%;
    padding: 16px 0;
    background: var(--background-color);
    position: sticky;
    top: 0;
    z-index: 99;
  }
  &__m-categoriesUl {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & > li {
      margin: 0 8px;
      & > a {
        color: var(--text-color);
        text-decoration: none;
        font-family: var(--font-family-main);
        &:hover {
          text-decoration: underline;
          color: var(--accent-color);
        }
      }
    }
  }
}