


/*.l-blog {
  // GLOBAL
  height: 100%;
  z-index: 1;
  &__a-sizeSection {
    //background-color: var(--background-color);
    margin-left: 79px;
    margin-right: 79px;
    @include large {
      margin-left: 152px;
      margin-right: 152px;
    }
  }

  //NB: For both side, display none and when windows height allow it, display it
  &__sideLeft {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 16px;
    z-index: 998;
    @include large {
      margin-left: 55px;
    }
  }

  &__sideRight {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 16px;
    @include large {
      margin-right: 55px;
    }
  }

  &__o-articlesContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 76px;

    @include large {
      flex-direction: row;
      margin-top: 0;
    }

    &--noArticle {
      width: 80%;
      padding-top: 25%;
      padding-bottom: 25%;
      height: 100%;
      display: block;
      margin: 0 auto;
      text-align: center;
      justify-content: center;
      font-family: var(--font-family-accent);
      font-size: var(--font-size-XXL);
      color: var(--text-color);
    }
  }

  &__o-mainArticles {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: right;
    position: relative;
    @include large {
      width: 50%;
      margin-top: 0;
    }
  }

  &__o-nextArticles {
    @include large {
      width: 50%;
      margin-left: 18px;
      z-index: 100;
    }
  }


  // CATEGORIES
  &__m-categories {
    justify-content: space-between;
    margin-top: 80px;
    @include large {
      margin-top: 80px;
    }
  }

  // MAIN ARTICLE

  &__m-mainArticle {
    position: absolute;
    z-index: 80;
    width: 100%;
    text-shadow: 1px 0 10px var(--background-color);
    @include large {
      left: 15%;
      width: unset;
    }
    & > h1 {
      margin-bottom: 35px;
      width: 80%;
      @include large {
        width: 90%;
      }
    }
  }

  &__a-mainDesc {
    font-family: var(--font-family-main);
    font-size: var(--font-size-M);
    width: 80%;
    line-height: 1.5;
    margin-bottom: 30px;
    @include large {
      width: 40%;
      font-size: var(--font-size-L);
    }
  }

  &__a-mainImage {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 85%;
    height: calc(730px/1.5);
    z-index: 60;
    @include large {
      height: 80%;
      width: 391px;
    }
    & > img {
      flex-shrink: 0;
      object-fit: cover;
      min-width: 100%;
      min-height: 100%;
      filter: brightness(70%)
    }
  }

  &__m-mainCategory {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-family: var(--font-family-main);
    font-size: var(--font-size-M);
    margin-bottom: 40px;
    width: 30%;
    & > nav {
      width: 40px;
      height: 1px;
      background-color: var(--text-color);
      margin-right: 8px;
    }
    & > a{
      margin-left: 4px;
      margin-right: 4px;
      text-decoration: none;
      color: var(--text-color);

      &:hover {
        text-decoration: underline;
        text-underline-offset: 8px;
      }
    }
  }

  &__m-mainTags {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 30px;
    & > nav {
      margin-right: 16px;
    }
  }

  &__m-buttonArticles {
    display: block;
    margin: 0 auto;
    width: fit-content;
    @include large {
      margin: unset;
      width: fit-content;
    }
  }

  &__m-mainInformations {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 25px;
    margin-top: 30px;
    & > nav {
      border: solid 1px var(--text-color);
      border-radius: 50%;
      width: 36px;
      height: 36px;
      font-family: var(--font-family-stylized);
      font-size: var(--font-size-S);
      justify-content: center;
      text-align: center;
      display: flex;
      align-items: center;
      @include large {
        font-size: var(--font-size-M);
      }
      & > p {
        width: 100%;
        text-align: center;
        padding-right: 20%;
        padding-top: 27%;
      }
    }
  }

  &__a-mainInformationsLabel {
    margin-left: 21px;
    font-family: var(--font-family-accent);
    font-size: var(--font-size-M);
  }

  // NEXT ARTICLES
  // Blog title
  &__a-title {
    width: 100%;
    text-align: center;
    margin-top: 67px;
    display: none;
    @include large() {
      display: block;
      margin-top: 154px;
    }
    &--span {
      font-family: var(--font-family-stylized);
      color: var(--accent-color);
      font-size: 64px;
    }
  }

  &__m-divNextArticles {
    background-color: var(--background-color);
    margin-top: 100px;
  }

  // Header
  &__m-nextHeader {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    padding-left: 16px;
    padding-top: 45px;
    padding-bottom: 40px;
    @include large {
      padding-left: 34px;
      width: 75%;
    }
    & > nav {
      width: 30%;
      @include large {
        display: flex;
        width: unset;
        margin-right: 34px;
      }
    }
    & > nav > * {
      border: none;
      background-color: unset;
      font-size: var(--font-size-L);
      &:hover {
        border: none;
        color: var(--accent-color);
      }
    }
  }

  &__a-nextTitle {
    color: var(--accent-color) !important;
  }
}*/

.l-blog {
  // GLOBAL
  height: 100%;
  z-index: 1;

  &__o-mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include large {
      flex-direction: row;
    }
  }

  // MAIN SECTION
  &__o-mainSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 8px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--text-color);

    @include large {
      margin-top: 0;
      width: 60%;
      padding-bottom: unset;
      margin-bottom: 5%;
      border-bottom: unset;
    }
  }

  &__m-tag {
    text-transform: uppercase;
    width: fit-content;
    font-family: var(--font-family-main);
    color: var(--text-color);
    padding-left: 4px;
    padding-right: 8px;
    & > * > * {
      text-decoration: none;
    }
  }

  &__a-title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 24px;
    &--bar {
      width: 50px;
      height: 4px;
      margin-top: var(--font-size-L);
      margin-bottom: 16px;
      margin-right: 10px;
      background-color: var(--text-color);
      @include large {
        width: 24px;
      }
    }
    @include large {
      margin-bottom: 30px;
    }
  }

  &__a-description {
    @include large {
      width: 85%;
    }
  }

  &__a-mainImage {
    position: relative;
    width: 100%;
    margin-bottom: 24px;
    @include large {
      width: 85%;
      margin-bottom: 40px;
    }
    &--div {
      width: 100%;
      z-index: -1;
      height: 100%;
      position: absolute;
      top: 3%;
      left: 3%;
      border: 1px solid var(--text-color);
      @include large {
        top: 3%;
        left: 1%;
      }
    }
  }

  &__m-mainInformations {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 16px;
    margin-bottom: 16px;
    justify-content: space-between;
    opacity: 70%;
    align-items: center;

    &--label {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      font-size: var(--font-size-S);
      font-family: var(--font-family-main);
    }

    &--option {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    &--vocal {
      height: 16px;
      width: 16px;
      margin-right: 8px;

    }

    &--labelLocation {
      padding-right: 16px;
    }
  }

  // NEXT ARTICLES
  &__o-nextArticles {
    width: 100%;
    @include large {
      width: 400px;
    }
  }
}