.l-categoryHome {
  &__o-category {
    margin-top: 30px;
    &--m-categoryDiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 0 20px 0;
        padding: 0;
        list-style: none;
    }

    &--a-linkCategory {
      & > * {
        color: var(--text-color);
        text-decoration: none;
        &:hover {
          color: var(--accent-color);
          text-decoration: underline;
        }
      }
    }

    &--m-article {
      @include large {
        width: 80%;
      }
      &:hover {
        padding-left: 30px;
      }
    }

    &--m-articleDiv {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column-reverse;
      @include large {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &--m-articleLink {
      margin-top: 24px;
      color: var(--text-color);
      text-decoration: none;
      & > * {
        margin-top: 24px;
        margin-bottom: 16px;
      }
      @include large {
        margin-top: unset;
      }
    }

    &--m-articleTitle {
      color: var(--accent-color);
    }

    &--m-articleDescription {
      font-family: var(--font-family-main);
      line-height: 1.5;
      text-align: justify;
    }
  }

  &__o-latestArticles--a-separation {
    margin-top: 30px;
    @include large {
      margin-top: unset;
    }
  }
}