.l-home {
  // GLOBAL
  z-index: 1;

  &__a-sizeSection {
    //background-color: var(--background-color);
    margin-left: 79px;
    margin-right: 79px;
    @include large {
      margin-left: 152px;
      margin-right: 152px;
    }
  }

  &__title  {
    text-transform: lowercase;
  }

  // HEADER & FOOTER

  &__footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 45px;
    padding-bottom: 15px;
    text-align: center;
  }

  //NB: For both side, display none and when windows height allow it, display it
  &__sideLeft {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 16px;
    z-index: 998;
    @include large {
      margin-left: 55px;
    }
  }

  &__sideRight {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 16px;
    @include large {
      margin-right: 55px;
    }
  }

  // SECTION VIDEO
  &__m-videoHome {
    position: relative;
    top: 0;
    z-index: 995;
  }

  &__m-swipe {
    position: relative;
    top: -100px;
    z-index: 996;
    & > * {
      color: var(--primary-lightest);
    }
  }


  // SECTION PROFIL
  &__o-profil > div {
    @include large {
      margin-top: 100px;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
    }
  }


  &__a-division {
    display: block;
    width: 40%;
    border: 1px solid var(--text-color);
    margin-bottom: 8px;
    @include medium {
      width: 40%;
    }
    @include large {
      //margin: 0 auto;
      width: 35%;
    }
  }

  &__m-title {
    margin-top: 50px;
    padding-right: 24px;
    width: 100%;
    & > h4 {
      margin-top: 8px;
      line-height: 1.6;
      @include large {
        line-height: initial;
        padding-right: 90px;
      }
    }
    @include large {
      text-align: left;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  &__a-titleText {
    text-align: left;
  }

  &__a-logoProfile {
    margin-bottom: 8px;
    &--img {
      transform: translateX(-8px);
    }
  }

  &__a-span {
    color: var(--accent-color);
  }

  &__a-code {
    width: 100%;
  }

  &__a-buttonProfile {
    width: unset;
    display: inline-block;
    margin-top: 16px;
  }

  &__a-buttonProfileNav {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
    justify-content: center;

  }

  // SECTION NEWS
  &__m-containerInfo {
    margin-top: 150px;
    text-align: center;
    justify-content: center;
  }
  &__a-divisionInfo {
    width: 100%;
  }

  &__a-buttonNews {
    margin-bottom: 150px;
    margin-left: 8px;
    background-color: var(--background-color);
  }

  &__m-containerArticles {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
    @include large {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 3vh;
      grid-row-gap: 0px;
      //align-items: baseline;
      & > nav {
        flex: 0 0 33.333333%;
      }
    }
  }

  &__a-newsArticle {
    //position: absolute;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items:flex-start;
    //background: red;
    margin-bottom: 8px;
  }

  &__a-buttonNewsNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    & > * {
      margin-bottom: 8px;
      margin-top: 0;
    }
    @include large {
      flex-direction: row-reverse;
      justify-content: flex-start;
    }
    margin-bottom: 150px;
  }

  &__o-newsletter {
    display: block;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: var(--background-color);
    margin: 0 auto;
    padding-top: 15%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    & > * {
      display: block;
      width: 100%;
      margin: 0 auto;
      font-family: var(--font-family-main);
    }
  }

  &__o-newsletterClose {
    width: 49%;
    margin-bottom: 16px;
    & > h5 {
      text-align: right !important;
    }
  }

  &__o-newsletterClose:hover {
    & > * {
      color: var(--accent-color);
    }
    text-decoration: underline;
  }

  // LATEST PROJECTS
  &__o-projects {
    margin-bottom: 150px;
  }
  // PASSIONS
  &__o-passions {
    margin-bottom: 150px;

    &__containerMedia {
      @include large {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 8px;
        //grid-auto-rows: minmax(100px, auto);
      }
    }
  }


  // CONTACT

  &__o-contact {
    margin-bottom: 150px;
    text-align: center;
    & > span {
      font-size: var(--font-size-XXL);
      font-family: var(--font-family-accent);
      line-height: 2;
      @include large {
        font-size: var(--font-size-XXXL);
      }
    }
    &__link  {
      font-family: var(--font-family-stylized);
      color: var(--accent-color);
      text-align: center;
      text-decoration: none;
      &:hover {
        text-decoration: solid;
      }
    }
  }
}


.hidden {
  display: none;
}