.l-home {
  // GLOBAL
  &__main {
    width: 100%;
    background-color: red;
    @include large {
      position: sticky;
      top: 0px;
    }
  }
  &__a-sizeSection {
    margin-left: 79px;
    margin-right: 79px;
    @include large {
      margin-left: 152px;
      margin-right: 152px;
    }
  }

  &__title  {
    text-transform: lowercase;
  }

  // HEADER & FOOTER
  &__header {
    width: 100%;
    z-index: 980;
    position: absolute;
  }

  &__footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 45px;
    padding-bottom: 15px;
    text-align: center;
  }

  //TODO: For both side, display none and when windows height allow it, display it
  &__sideLeft {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 16px;
    z-index: 999;
    @include large {
      margin-left: 55px;
    }
  }

  &__sideRight {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 16px;
    @include large {
      margin-right: 55px;
    }
  }

  // SECTION VIDEO
  &__m-videoHome {
    position: relative;
    top: 0;
    z-index: 995;
  }

  &__m-swipe {
    position: relative;
    top: -100px;
    z-index: 996;
  }


  // SECTION PROFIL
  &__a-division {
    display: block;
    width: 60%;
    border: 1px solid var(--text-color);
    margin-bottom: 8px;
    @include large {
      margin: 0 auto;
      width: 35%;
    }
  }

  &__m-title {
    margin-top: 50px;
    width: 100%;
    @include large {
      text-align: center;
    }
  }

  &__a-titleText {
    text-align: left;
  }

  &__a-span {
    color: var(--accent-color);
  }

  &__a-logoProfile  {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-items: flex-end;
    margin-bottom: 35px;

    @include medium {
      flex-direction: row;
    }
    @include large {
      justify-content: center;
      align-items: center;
      width: 50%;
    }
  }

  &__a-code {
    width: 40%;
    @include large {
      width: 100%;
    }
  }

  &__a-buttonProfile {
    width: unset;
    display: inline-block;
    margin: 0 auto;
    margin-top: 16px;
  }

  &__a-buttonProfileNav {
    display: flex;
  }

  // SECTION NEWS
  &__m-containerInfo {
    margin-top: 150px;
    text-align: center;
    justify-content: center;
  }
  &__a-divisionInfo {
    width: 100%;
  }

  &__a-buttonNews {
    margin-bottom: 150px;
  }

  &__m-containerNews {
    position: relative;
    height: 500px;
  }

  &__a-newsArticle {
    position: absolute;
    &:nth-child(2) {
      @include large {
        top: 20%;
      }
    }

    &:nth-child(3) {
      top:27%;
      left: 0;
      @include large {
        top: 30%;
        left: 60%;
      }
    }

    &:nth-child(4) {
      top: 44%;
      left: 0;
      @include large {
        top: 40%;
        left: 35%;
      }
    }

    &:nth-child(5) {
      top: 61%;
      left: 0;
      @include large {
        top: 50%;
        left: 10%;
      }
    }

    &:nth-child(6) {
      top: 78%;
      left: 0;
      @include large {
        top: 55%;
        left: 70%;
      }
    }

    &:nth-child(7) {
      top: 95%;
      left: 0;
      @include large {
        top: 75%;
        left: 35%;
      }
    }

  }

}