.o-footer {
  width: 100%;
  background: var(--background-color);
  background: none;
  padding: 16px;
  display: block;
  margin: 0 auto;
  text-align: center;
  @include large {
    padding-bottom: 15px;
    padding-top: 45px;
  }
}