.o-header {
  z-index: 999;
  width: calc(100% - 32px);
  position: fixed;
  bottom: 16px;
  display: flex;
  margin: 0 auto;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  height: 92px;
  border-radius: 31px;
  background: rgba(217, 217, 217, 0.30);
  backdrop-filter: blur(2px);
  align-items: center;
  @include medium {
    margin: 0;
    width: calc(100% / 3);
    justify-self: center;
  }

  &__page {
    background: var(--primary-light);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--primary-darkest);
    font-family: var(--font-family-main);
    font-size: var(--font-size-XS);
    font-weight: lighter;
  }
}