.o-header {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column-reverse;
  background: var(--background-color);

  @include large {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    width: 100%;
  }

  &__pagesDiv {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    @include large {
      //display: flex;
      flex-wrap: nowrap;
      width: unset;
    }
  }

  &__logo {
    display: block;
    margin: 0 auto;
    transform: translateY(-25px);

    @include large {
      transform: unset;
      margin: unset;
    }
  }

  &__page:nth-child(2) {
    transform: translateX(-24px);
  }

  &__page:nth-child(3) {
    transform: translateX(10px);
  }

  &__page {
    font-size: 16px;

    @include large {
      font-size: 18px;
      margin-left: calc(65px / 2);
      margin-right: calc(65px / 2);
      &:last-child {
        margin-right: 0;
        background: none;
      }
      &:first-child {
        margin-left: 0;
        background: none;
      }

      // Crushes mobile responsive
      &:nth-child(2) {
        //margin-right: calc(65px/2);
        transform: none;
      }

      &:nth-child(3) {
        //margin-right: calc(65px/2);
        transform: none;
      }
    }
  }
}