/**
Installation theme-color :
  - Source : https://lukelowrey.com/css-variable-theme-switcher/
 */


:root, [data-theme="default"] {
  // Current palette
  --accent-color: var(--accent-purple-dark);
  --accent-color-filter: var(--accent-yellow-filter) ;
  --background-color: var(--primary-darkest);
  --container-color : var(--primary-dark-medium);
  --text-color: var(--primary-light);
  --text-error : var(--primary-error);
  --code-blue-light: var(--primary-code-blue-light);
  --code-blue-dark: var(--primary-code-blue-dark);
  --shadow: var(--primary-shadow);

  // Primary P palette
  --primary-darkest: #050404;
  --primary-dark-medium: #2F2F2F;
  --primary-light: #dcdcdc;
  --primary-light-accent: brightness(0) saturate(100%) invert(98%) sepia(47%) saturate(5%) hue-rotate(64deg) brightness(98%) contrast(83%);;
  --primary-lightest: #FFFFFF;
  --primary-error: hsla(357, 100%, 70%, 1);
  --primary-shadow: hsla(0, 0%, 0%, 0.16);

  // Accent A Color
  --accent-purple-dark: #656DB6;
  --accent-purple-light: #979DDA;
  --accent-blue: #65A2B6;
  --accent-yellow: #DAD497;
  --accent-yellow-filter: brightness(0) saturate(100%) invert(99%) sepia(2%) saturate(5256%) hue-rotate(344deg) brightness(89%) contrast(91%);;

}