<div class="m-titleWithTag">
    <nav class="m-titleWithTag__divTitle">
        {{> @text--titleh3 content=title class=classTitle}}
        <nav class="m-titleWithTag__divider"></nav>
        {{> @text--spanm content=libelle class=classSpan}}
    </nav>
    <nav class="m-titleWithTag__divTag">
        {{#each tags}}
            {{> @tag content=nameTag color=color class=classTag}}
        {{/each}}
    </nav>
</div>