.m-cardS {
  margin-top: 40px;
  font-family: var(--font-family-main);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;

  & > *, & > * > * {
    text-decoration: none;
  }

  @include large {
    margin-top: 80px;
    flex-wrap: nowrap;
    max-width: calc(90%);
  }

  &__a-title {
    margin-top: 16px;
    color: var(--accent-color);
    @include large {
      color: var(--text-color);
    }
  }

  &__a-description {
    line-height: 150%;
  }

  &__m-categoriesDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    & > * {
      padding-right: 8px;
    }
  }

  &--a-separation {
    width: 100%;
    height: 1px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 30px;
    background-color: var(--text-color);
    @include large {
      margin-top: 80px;
    }
  }
}


// CARD FORMAT XS
.m-cardXS {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  //padding-bottom: 16px;
  border-bottom: .1px solid;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 24px;
  @include large {
    border-bottom: none;
  }

  &__a-text {
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--font-size-M);
    font-family: var(--font-family-main);
    margin-top: 10px;

    & > a {
      text-decoration: none;
      color: var(--text-color);

    }
    &--title {
      font-family: var(--font-family-accent);
      margin-bottom: 16px;
      margin-top: 4px;
      color: var(--accent-color);
      font-size: var(--font-size-M);
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* nombre de lignes souhaitées */
      -webkit-box-orient: vertical;

    }
    &--description {
      margin-bottom: 24px;
      text-align: justify;
      line-height: 150%;
      margin-top: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      //-webkit-line-clamp: 7; /* nombre de lignes souhaitées */
      -webkit-box-orient: vertical;
      @include large {
        text-align: start;
      }
    }
    &--divTag {
      transform: none;
      flex-direction: row;
    }
  }

  @include medium {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: unset;
    font-size: var(--font-size-M);


    &__a-text {
      margin-left: 19px;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      background-color: unset;
      margin-top: 0;
      font-size: var(--font-size-M);

      &--title {
        text-align: left;
        margin-bottom: 8px;
        text-decoration: none;
        font-size: var(--font-size-L);

      }
      &--description {
        margin-bottom: 16px;
        text-decoration: none;
      }
    }
  }
  &__a-tags {
    display: flex;
  }

  &__m-nextCard {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 40px;
    width: calc(100% - 40px);
    @include large {
      margin-bottom: 24px;
    }
  }

  &__a-nextButton {
    padding-left: 8px;
    padding-right: 8px;
    color: var(--text-color);
    &:hover, &:checked {
      color: var(--accent-color);
    }
  }

  &__a-nextImage {
    position: relative;
    min-height: calc(2*100px/3);
    max-height: calc(2*100px/3);
    min-width: calc(2*154px/3);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 60;
    @include large {
      min-width: 154px;
      min-height: 100px;
      max-height: 100px;
    }
    &--div {
      height: 100%;
      width: 100%;
      z-index: -1;
      position: absolute;
      top: 9%;
      left: 3%;
      border: 1px solid var(--text-color);
      @include large {
        top: 5%;
        left: 3%;
      }
    }
    &--divContainer {
      position: relative;
      height: 100%;
      width: 100%;
      @include large {
        width: unset;
      }
    }
  }

  &__m-mainInformations {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 16px;
    margin-bottom: 16px;
    justify-content: space-between;
    align-items: center;

    &--vocal {
      height: 16px;
      width: 16px;
      margin-right: 8px;

      &:checked, &:hover, &:focus {
        filter: var(--accent-color-filter);
      }
    }
  }

  &__a-markedDiv {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    flex-direction: row;
    margin-bottom: 16px;
    &--mark {
      margin-right: 16px;
      width: fit-content;
      text-transform: uppercase;
      font-family: var(--font-family-main);
      font-size: var(--font-size-S);
    }
  }

  &__m-tagsDiv {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    opacity: 70%;
    & > * > * {
      font-size: var(--font-size-S);
    }
  }
}