// CARDXL
.m-cardXL {
  width: 100%;
  position: relative;
  overflow: hidden;

  &__a-media-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  &__a-media {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
    z-index: 0;
    margin: 0;
    & > * {
      border-radius: 21.67px;
    }
  }

  &__a-article {
    position: relative;
    z-index: 2;
  }

  &__a-play {
    mix-blend-mode: normal;
    transform: translateZ(0);
    z-index: 100;
    display: block;
    margin: 0;
    text-align: center;
    background: var(--primary-light);
    border: none;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    position: absolute;
    bottom: 8px;
    right: 8px;
    &--play > img {
      margin-left: 3px;
    }
  }
}

// STATUS
.m-cardStatus {
  //height: fit-content;
  background-color: var(--primary-lightest);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: var(--border-radius);


  &__a-verticalBar {
    width: 6px;
    border-radius: var(--border-radius);
    height: auto;
    background-color: var(--accent-color);
    margin-left: 16px;
    margin-right: 8px;
  }

  &__a-div {
    display: flex;
    flex-wrap: nowrap;
  }

  &__a-title {
    color: var(--background-color);
    margin-bottom: 4px;
    padding-right: 18px;
  }

  &__a-text {
    color: var(--background-color);
    padding-right: 18px;
  }

  &__a-icons {
    border-radius: 10px;
  }
}

// CARDLISTICONS
.m-cardListIcons {
  position: relative;
  display: block;
  &__a-div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(217, 217, 217, 0.30);
    overflow: hidden;
    padding: 16px;
    box-sizing: border-box;
    flex: 1;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  &__a-divText {
    margin-left: 8px;
    background-color: transparent;
    backdrop-filter: none;
  }

  &__a-item {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 16px;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    transform: rotateX(0deg) rotateY(0deg) translateY(0); /* Réinitialisez la rotation à 0 degrés et la translation */
    transform-style: preserve-3d;
    backface-visibility: hidden;
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;

    &.active {
      transform: rotateX(-360deg) rotateY(0deg) translateY(0); /* Faites tourner l'élément de -360 degrés (une rotation complète) */
      opacity: 1;
    }
  }


  &--background {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(217, 217, 217, 0.30);
    backdrop-filter: blur(2px);
    border-radius: var(--border-radius);
  }

  &__a-title {
    color: var(--background-color);
    margin-bottom: 4px;
    padding-right: 18px;
  }

  &__a-text {
    color: var(--background-color);
    padding-right: 18px;
    word-break: normal;
  }

  &__a-icons {
    z-index: 1;
    border-radius: 10px;
    object-fit: contain;
    width: 100%;
    height: auto;
    max-width: 50px;
  }
}


// CARDINFOS
.m-cardInfos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 18px;
  background-color: var(--primary-lightest);
  border-radius: var(--border-radius);
  &__m-datetime {
    color: var(--background-color);
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    &--a-mmYY {
      font-weight: var(--font-weight-semibold);
    }
  }
  &__m-message {
    color: var(--background-color);
    width: 60%;
    font-style: italic;
  }
}


// CARDNEWS
.m-cardNews {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: var(--primary-lightest);
  border-radius: var(--border-radius);
  padding: 16px;
  color: var(--background-color);
  &__a-title {
    margin-bottom: 16px;
  }
}

// CARDLISTTEXT
.m-cardListText {
  display: flex;
  flex-wrap: nowrap;//
  flex-direction: column;
  width: 100%;
  height: 200px;
  padding: 18px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--border-radius);
  box-shadow: rgba(0,0,0,0.2) 0 0 9px;
  &:not(:hover) {
    background: rgba(217, 217, 217, 0.30) !important;;
    animation: gradient 2s ease infinite !important;
    &:nth-child(1) { animation-delay: 0s }
    &:nth-child(2) { animation-delay: 1s }
    &:nth-child(3) { animation-delay: .5s }
    &:nth-child(4) { animation-delay: -.5s }
    &:nth-child(5) { animation-delay: -1s }
    &:nth-child(6) { animation-delay: -2s }
  }
  &:hover, &:active {
    background-image: initial;
  }

  &__content {
    filter: inherit !important;
    text-shadow: 0 0 5px #000000;
    color: var(--primary-lightest);
    & > * {
      padding-top: 6px;
    }
  }

  &__a-title {
    margin-bottom: 16px;
  }
}

// CITATION
.m-cardCitation {
  background-color: var(--primary-lightest);
  border-radius: var(--border-radius);
  margin-bottom: 24px;
  padding: 16px;
  font-family: var(--font-family-main);
  font-style: italic;
  @include large {
    align-content: center;
    max-width: 300px;
    min-height: 200px;
  }

  & > * {
    text-decoration: none;
    color: var(--container-color);
  }

  &__a-content {
    & > * {
      margin-bottom:16px;
    }
  }
  &__m-profilDiv {
    display: flex;
    flex-direction: row;
    padding-top: 16px;
  }

  &__m-profilDivImg {
    width: 50px;
    height: 50px;
  }
  &__m-profilDivImg {
    border-radius: 50%;
    object-fit: cover !important;
    background-color: black;
  }

  &__m-profilDivText {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: normal;
    &--title {
      font-weight: var(--font-weight-semibold);
    }
  }
}