.m-categories {
  width: 100%;
  display: flex;
  margin-top: 30px;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  overflow-x: auto;
  margin-bottom: 30px;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);

  &>li {
    width: fit-content;
    padding: 16px;
  }

  &>li > * {
    color: var(--text-color);
    text-transform: uppercase;
    font-size: var(--font-size-S);
    font-family: var(--font-family-main);
    text-decoration: none;
    &:hover, &:focus {
      color: var(--accent-color);
    }
    @include large {
      font-size: var(--font-size-M);
    }
  }

  &__a-all > * {
    text-decoration: underline;
  }
}