
.m-header {
  width: calc(100% - 80px);
  z-index: 980;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  margin-bottom: 24px;
  // Technic to center vertically a fixed object
  // Source : https://stackoverflow.com/questions/2005954/center-a-positionfixed-element
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-around;

  @include large {
    width: 25%;
  }

  & > a {
    font-size: 16px;
    text-decoration: none;
    padding: 16px;
    border-radius: 50px;
    background-color: var(--accent-color);
    color: var(--container-color);
  }

  & > a:hover {
    background-color: var(--text-color);
    color: var(--container-color);
  }
}