// ANIMATION

.m-popupCategoryXXS {
  display: flex;
  flex-wrap: nowrap;//
  flex-direction: column;
  width: 100%;
  padding: 16px;

  &__mediaContainer {
    display: block;
    position: relative;
    height: 230px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.2) 0 0 9px;
    &:not(:hover) {
      background: rgb(170,0,0);
      background: linear-gradient(226deg, rgba(170,0,0,1) 0%, rgba(173,9,20,0.92) 8%, rgba(50,8,102,1) 100%) !important;;
      animation: gradient 2s ease infinite !important;
      &:nth-child(1) { animation-delay: 0s }
      &:nth-child(2) { animation-delay: 1s }
      &:nth-child(3) { animation-delay: .5s }
      &:nth-child(4) { animation-delay: -.5s }
      &:nth-child(5) { animation-delay: -1s }
      &:nth-child(6) { animation-delay: -2s }
    }
    &:hover, &:active {
      background-image: initial;
    }
  }


  &__content {
    position: absolute;
    bottom: 0;
    left: 8px;
    filter: inherit !important;
    text-shadow: 0 0 5px #000000;
    color: var(--primary-lightest);
    & > p {
      padding-top: 6px;
    }
  }

  &__titleContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    margin-top: 16px;
  }

  &__number {
    margin-right: 16px;
    font-size: var(--font-size-XXL);
    //margin-left: 8px;
    filter: brightness(70%);
  }

  &__textContainer {
    /*width: 80%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;*/
  }

  &__title {
    //width: 80%;
  }

  &__subtitle {
    padding-top: 7px;
  }
}

