.m-swipe {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: normal;

  &__media {
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}