.m-table {
  width: 100%;
  //height: fit-content;
  border-collapse: collapse;
  text-align: left;
  font-family: var(--font-family-accent);
  font-size: var(--font-size-M);
  font-weight: bold;
  overflow-x: auto;

  &__cells, &__cells > a {
    font-family: var(--font-family-main);
    font-style: italic;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: normal;

    &--row:hover{
      text-decoration: underline;
      text-underline-offset: 8px;
    }
  }

  &__title {
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: bold;
    padding-right: 16px;
    font-family: var(--font-family-main);
  }

  & > * > tr {
    border-bottom: 2px solid var(--text-color);
  }
}