.m-titleWithTag {
  //position: absolute;
  &__divTitle {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;
  }

  &__divider {
    display: block;
    width: 8px;
    height: 8px;
    background-color: var(--text-color);
    border-radius: 100px;
    margin-right: 4px;
    margin-left: 4px;
  }

  &__divTag {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    transform: translateY(-10px);
  }

  &__title {
    font-style: normal;
  }

  &__tag {
    font-style: normal;
  }

}