.a-icon {
  width: 24px;
  filter: var(--text-color-filter);
  &:hover {
    filter: var(--accent-color-filter);
  }
  & > svg > path:first-child {
    filter: none;
    filter: var(--accent-purple-filter);
  }

  &__audio {
    height: 16px;
    width: 16px;
    margin-right: 8px;
    &:checked, &:hover, &:focus {
      filter: var(--accent-color-filter);
    }
  }
}