.a-media {
  &--M {
    width: 895px;
    height: 512px;
  }
  &--S {
    width: 239px;
    height: 161px;
  }
  &--XS {
    height: 24px;
    @include large {
      height: 32px;
    }
  }

  &--XXS {
    width: 16px;
  }
}