// Title website
.a-titleH1 {
  font-size: var(--font-size-XL);
  @include large {
    font-size: var(--font-size-XXL);
  }
  font-family: var(--font-family-accent);
  color: var(--text-color);
  margin-bottom: 16px;
}

// Title section
// Lowercase
.a-titleH2 {
  font-size: var(--font-size-XL);
  font-family:  var(--font-family-accent);
  color: var(--text-color);
  margin-bottom: 16px;
  text-transform: lowercase;
}

// Title article fin home or news
// No lowercase
.a-titleH3 {
  font-size: var(--font-size-L);
  @include large {
    font-size: var(--font-size-XL);
  }
  font-family:  var(--font-family-accent);
  color: var(--text-color);
  margin-bottom: 16px;

  &--default {
    text-transform: lowercase;
  }
}

// Title container passions
.a-titleH4 {
  font-size: var(--font-size-M);
  @include large {
    font-size: var(--font-size-L);
  }
  font-family:  var(--font-family-accent);
  color: var(--text-color);
  margin-bottom: 16px;
}

// News date
.a-titleH5 {
  font-size: var(--font-size-S);
  @include large {
    font-size: var(--font-size-M);
  }
  font-family:  var(--font-family-accent);
  color: var(--text-color);
  margin-bottom: 8px;
  text-align: center;
  text-transform: uppercase;
}

// Paragraph
.a-text {
  color: var(--text-color);
  font-family:  var(--font-family-main);
  font-size: var(--font-size-L);
}

// link
.a-link {
  color: var(--text-color);
  font-family: var(--font-family-main);
  font-style: italic;
  text-decoration: none;
  font-size: var(--font-size-L);

  &:hover {
    text-decoration: underline currentColor;
    text-underline-offset: 8px;
  }
}

.a-spanXS {
  font-size: var(--font-size-S);
  font-family:  var(--font-family-accent);
  color: var(--text-color);
  margin-bottom: 8px;
  //text-transform: lowercase;
}

.a-spanM {
  font-size: var(--font-size-M);
  font-family:  var(--font-family-main);
  color: var(--text-color);
  margin-bottom: 8px;
}

.a-spanL {
  font-size: var(--font-size-L);
  font-family:  var(--font-family-main);
  color: var(--text-color);
  margin-bottom: 16px;
}

.a-spanXL {
  font-size: var(--font-size-XL);
  font-family:  var(--font-family-main);
  color: var(--text-color);
  margin-bottom: 16px;
}

// Big message span
.a-spanXXXL {
  font-size: var(--font-size-XXXL);
  font-family: var(--font-family-accent);
  color: var(--text-color);
  margin-bottom: 16px;
  text-align: center;
}

.a-code {
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  z-index: 4;
  font-family: "Roboto Mono",Monospaced, monospace;
  //width: 100%;
}

pre code.hljs {
  overflow-x: hidden !important;
  white-space: pre-wrap;
}